# Byte-compiled / cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Conda / venv
.venv/
env/
.conda/

# Secrets
.env

# OS files
.DS_Store
Thumbs.db

# Logs
logs/
*.log

# Streamlit cache
.streamlit/

# Pytest cache
.pytest_cache/
